@model MVC2.Models.Entities.Player

@{
    ViewData["Title"] = "Delete";
}

<h1 style="color:Green; background-color:lightgray; border-color:black;">Delete A PLayer</h1>

<h3 style="color:Green; background-color:lightgray; border-color:black;" >Are you sure you want to delete this Player?</h3>
<div>
    
    <hr />
    <dl style="background-color:lightgreen"  class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JerseyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JerseyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input asp-for="Id" type="hidden" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to Tracker</a>
    </form>
</div>
